.wrapper {
    display: grid;
    grid-template-rows:35.19% 57.23% 7.58%;
    margin-left: auto;
    margin-right: auto;
    }
.header{
    display: grid;
    grid-template-rows: 10% 40% 15% 15%;
}   
.nav {
    display: grid;
    grid-template-columns: 100px 723px;
    padding-top: 45px;
    padding-left: 152px;
    column-gap: 165px;
}
.nav-main {
    display: grid;   
    grid-template-columns: 50% 50%;
}
.nav-menu{
    display: grid;
    grid-template-columns:81px 95px 67px 73px;
    column-gap: 32px;

}
#nav-main-checkbox {
    display: none;
}
.hamburger {
    display: none;
}
.hamburger-line{
    background-color: rgba(255, 255, 255, 1);
    display: block;
    height: 2px;
    position: relative;
    width: 22px;
}
.hamburger-line::before,
.hamburger-line::after{
background-color:rgba(255, 255, 255, 1);
content: '';
display: block;
position: absolute;
width: 100%;
height: 100%;
}
.hamburger-line::before{
    top: 7px;

}
.hamburger-line::after{
    top: -7px;
}


/*.main-section-1 {
    display: grid;
    grid-template-rows: 32% 16% 38% 14%;
    
}*/
.main-section-1-article{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 83px;
    margin-left: 150px;
    margin-top: 45px;


}
.main-section-1-button-text {
    margin-top: 2.875rem;
}
/*.main-section-2 {
    display: grid;
}*/
.footer-grid{
    display: grid;
    padding-top: 39px;
    padding-left: 153px;
    padding-right: 148px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 100%);
}
.footer-little-logo-h6{
   display: grid; 
   grid-template-columns: 20px 92px;
   column-gap: 16px;
}
.footer-adress-email{
    grid-column: 3;
}
.footer-email{
    grid-column: 3;
    grid-row: 2;
}
.footer-end{
    grid-column: 6/span 2;
    grid-row: 2;
}
    